.header_title {
  font-size: 20px;
  font-weight: 400;
  color: #282828;
  margin: 40px 0 0 20px;
}

.operate_bar_list {
  margin: 25px 0;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 20px;
}
