// sidebar
$menuText:#5d5d5d;
$menuActiveText:#5d5d5d;
$subMenuActiveText:#5d5d5d; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #fff;
$menuHover:#eee;

$subMenuBg:#fff;
$subMenuHover:#eee;

$sideBarWidth: 200px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
